<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head') -%>
    <body>
      <%- include('../includes/header') -%>
  
      <%- include('../includes/sidebar') -%>

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Departments</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Departments</li>
                </ul>
              </div>
              <div class="top-nav-search">
                <form action="/student/search-student" method="GET">
                  <input type="text" class="form-control" placeholder="Search here" name="keyword"/>
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </form>
              </div>
              <div class="col-auto text-right float-right ml-auto">
                <a href="department/add-department" class="btn btn-primary"
                  ><i class="fas fa-plus"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-hover table-center mb-0 datatable"
                    >
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Name</th>
                          <th>Trưởng khoa</th>
                          <th>Năm thành lập</th>
                          <th>Số sinh viên</th>
                          <th class="text-right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach((item, index)=>{%> 
                        <tr>
                          <td><%= index + 1 %></td>
                          <td>
                            <h2>
                              <a><%= item.name %></a>
                            </h2>
                          </td>
                          <td><%= item.dean %></td>
                          <td><%= item.establishTime %></td>
                          <td><%= item.numOfStudent %></td>
                          <td class="text-right">
                            <div class="actions">
                              <a
                                href="department/update-department/<%= item.id %>"
                                class="btn btn-sm bg-success-light mr-2"
                              >
                                <i class="fas fa-pen"></i>
                              </a>
                              <a href="department/delete-department/<%= item.id %>" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        <%}) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>
</html>