<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head') -%>
    <body>
      <%- include('../includes/header') -%>
  
      <%- include('../includes/sidebar') -%>

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Update Department</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/department">Department</a>
                  </li>
                  <li class="breadcrumb-item active">Update Department</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <form method="POST">
                    <div class="row">
                      <div class="col-12">
                        <h5 class="form-title">
                          <span>Department Details</span>
                        </h5>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>Department Name</label>
                          <input type="text" class="form-control" name="name" value="<%- data.name %>"/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>Head of Department</label>
                          <input type="text" class="form-control" name="dean" value="<%- data.dean %>"/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>Establish Year</label>
                          <input type="datetime" class="form-control" name="year" value="<%- data.establishTime %>"/>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>No of Students</label>
                          <input type="number" class="form-control" name="num" value="<%- data.numOfStudent %>"/>
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('../includes/footer') -%>
</body>
</html>