<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head') -%>
  <body>
    <%- include('../includes/header') -%>

    <%- include('../includes/sidebar') -%>

    <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="page-title">Student Details</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/student">Student</a>
                  </li>
                  <li class="breadcrumb-item active">Student Details</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="about-info">
                    <h4>About Me</h4>
                    <div class="media mt-3">
                      <img src="/img/user.jpg" class="mr-3"/>
                      <div class="media-body">
                        <form method="POST">
                          <div class="row">
                            <div class="col-12">
                              <h3 class="form-title"> 
                                <span>Student Information</span>
                              </h3>
                            </div>
                            <div class="col-12 col-sm-12">
                              <div class="form-group">
                                <label>Name</label>
                                <h5><%- data.name %></h5>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Gender</label>
                                <h5><%- data.gender %></h5>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Date of Birth</label>
                                <h5><%- data.dob %></h5>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Class</label>
                                <h5><%- data.class %></h5>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Address</label>
                                <h5><%- data.address %></h5>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Phone</label>
                                <h5><%- data.phone %></h5>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
          </div>
        </div>

  </body>
</html>
